* {
  list-style-type: none;

  font-family: $font-default;

  &:focus, &:active {
    outline: none !important;
  }
}

.bordered_header {
  //font-size: 18px;
  //position: relative;
  //
  //&::after {
  //  position: absolute;
  //  left: 0;
  //  bottom: -4px;
  //  height: 2px;
  //  width: 70px;
  //  background: #db4242;
  //  content: "";
  //  display: block;
  //}
}

.modal-open #wrapwrap {
  overflow: auto !important;
}

.modal {
  color: #{$modal-body-color};

  .modal-title {
    color: #{$modal-body-color};
  }

}


.accent {
  color: #{$color-accent};
}

//scrollbar starts
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .19);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
  background-color: #c9ccd6;
}

//scrollbar ends
.scale-up-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center center; /* Ensures scaling from the center */
}

.scale-up-hover:hover {
  transform: scale(1.04); /* Scale the element */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add shadow */
}

a {

  &:hover {
    color: $color-grey-100; // Change to the hover state colour
  }
}

//font
h2 {
  font-size: $font-size-h2;
  //margin: 0.67em 0;
}

h3 {
  font-size: $font-size-h3;
  //margin: 0.67em 0;
}

h4 {
  font-size: $font-size-h4;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0;
  //margin: 0.67em 0;
}

h5 {
  font-size: $font-size-h5;
  //margin: 0.67em 0;
}

h6 {
  font-size: $font-size-h6;


  //margin: 0.67em 0;
}

p.lead {
  font-size: $font-size-lead;
}

.display-6 {
  font-size: $font-size-display-6; // 60px
}

.display-5 {
  font-size: $font-size-display-5; // 72px
}

.display-4 {
  font-size: $font-size-display-4; // 84px
}

.display-3 {
  font-size: $font-size-display-3; // 96px
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -.045em;
}

.display-2 {
  font-size: $font-size-display-2; // 120px

}

.display-1 {
  font-size: $font-size-display-1; // 132px
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: $border-radius-6 !important;
}

.rounded-2 {
  border-radius: $border-radius-16 !important;
}

.rounded-3 {
  border-radius: $border-radius-20 !important;
}


.shadow-sm {
  box-shadow: $shadow-sm !important;
}

.shadow {
  box-shadow: $shadow-md !important;
}

.shadow-lg {
  box-shadow: $shadow-lg !important;
}

///////////media blurred border inset /////////////////////////////////////////////////////////////////////////////
/* Custom img Wrapper */
.media-element-wrapper {
  position: relative; /* Establishes positioning context */
  overflow: hidden; /* Clips the overlay to maintain rounded corners */
  box-shadow: var(--box-shadow, $shadow-lg);

}

/* Pseudo-element for Inset Border Overlay */
.media-element-wrapper::after {
  content: ''; /* Necessary for the pseudo-element */
  position: absolute; /* Positions the overlay relative to the parent */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid $color-alpha-light-10; /* Semi-transparent inset border */
  box-sizing: border-box; /* Includes the border within the element's dimensions */
  z-index: 1; /* Places the overlay above the image */
  border-radius: inherit;
}

/* Bordered Image Styling */
.bordered-image {
  display: block; /* Ensures the image behaves like a block-level element */
  height: auto; /* Maintains the aspect ratio */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  position: relative; /* Establishes stacking context */
}

////////////////media blurred border inset//////////////////////////////////////////////////////////////////
.card {
  border: 1px solid var($color-alpha-light-5);
  border-radius: var(--border-radius-20, $border-radius-card);
  background-color: #090910;
  box-shadow: var(--box-shadow, $shadow-md);;


  .card-body {
    color: var(--color-bodies, $main-font-body-color);

    .text-muted {
      color: rgba(129, 133, 159, 0.7) !important
    }
  }
}

