.s_faq_collapse {
  .card {
    background-color: var(--body-bg,transparent);
    background: var(--body-bg,transparent);
  }

  .container {
    border: 2px solid grey;
    border-radius: 20px;
    box-shadow: -15px 15px 30px rgba(255, 255, 255, 0.3);
  }

  .accordion .card .card-header::before {
    content: '\f077'!important;
  }

  .accordion .card .card-header.collapsed::before {
    content: '\f078' !important;
  }

}

