.s_faq_collapse {
  .card {
    background-color: $color-white;
  }

  .container {
    border: 2px solid grey;
    border-radius: 20px;
    box-shadow: 15px 15px 30px rgba(255, 255, 255, 0.3);
  }

}

