.s_tabs {
  //background: var(--body-bg, white);


  .s_tabs_main {

    //border:2px solid grey;
    overflow: hidden;
    //box-shadow: 15px 15px 30px rgba(255, 255, 255, 0.3);
    border: 2px solid var(--border-color, $color-grey-60);
    border-radius: var(--border-radius-20, 2rem);
    //background: var(--background-color, linear-gradient(var(--bento-gradient-angle, 162deg), #1b1b26 var(--bento-gradient-start, -70%), #09090d var(--bento-gradient-end, 92%)));
    box-shadow: var(--box-shadow, -15px 15px 30px rgba(255, 255, 255, 0.3));

    .s_tabs_content {
      background: var(--bg-color, $color-grey-08);
    }

    .s_tabs_nav {
      padding-right: 0px !important;
      padding-left: 0px !important;
      background: var(--body-bg, transparent);


      .nav-item {
        .nav-link {
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          color: var(--color-bodies, $main-font-body-color);
          border-right: 2px solid var(--border-color, $color-grey-60);

          //span {
          //  color: o-color('o-color-2');
          //
          //}
          //
          //#text {
          //  color: o-color('o-color-2');
          //
          //}

          //background-color: $color-white !important;


          //display: flex;
          //align-items: center;
          ////text-align: right; /* Ensures text aligns properly */
          //justify-content: flex-end; /* Ensure items start from the left */
          ////text-align: left;
          //padding-left: 0; /* Optional: Remove padding if needed */
        }

        .nav-link.active {
          //background: var(--background-color, linear-gradient(var(--bento-gradient-angle, 162deg), #1b1b26 var(--bento-gradient-start, -70%), #09090d var(--bento-gradient-end, 92%)));
          background: var(--bg-color, $color-grey-08);
          border-left: none;
          border-bottom: 2px solid var(--border-color, $color-grey-60);
          border-top: 2px solid var(--border-color, $color-grey-60);
          border-right: none;
          color: $white;
        }

        /* Remove border bottom on hover active nav-link */
        .nav-link::after {
          content: none;
          color: $white;

        }


      }


      /* Remove top border for the first nav-item's active nav-link */
      .nav-item:first-child .nav-link.active {
        border-top: none;
      }

      /* Remove bottom border for the last nav-item's active nav-link */
      .nav-item:last-child .nav-link.active {
        border-bottom: none;

      }
    }
  }
}
