
.stacked_cards {
  --card-number: 5; //number of cards
  $card-number: 5; //number of cards for loops should dbe equal to above
  --card-height: 5; //number of cards

  padding-top: 25vh;
  margin-top: 10vh;
  margin-bottom: 10vh;

  .container {
    position: relative;
    height: calc(var(--card-number) * 100%);
  }

  .stacked_card {
    position: sticky;
    top: 50%;
    transform: translateY(-45%);
    z-index: 2;
    padding: 30px;
    margin-top: 80px;

    /* For screens larger than $md (i.e., >= 768px) apply sticky behavior */
    @media  #{$md} {
      //margin-top: 200px;
      @for $i from 2 through $card-number {
        &:nth-child(#{$i}) {
          $translate-y: -45% + (3% * ($i - 1));
          $z-index: $i + 1;
          transform: translateY($translate-y);
          z-index: $z-index;
        }
      }
    }
    @media #{$xsm} {
      /* For screens smaller than md, remove sticky and stack cards */
      position: relative;
      transform: none; /* Remove the vertical translation */
      margin-top: 20px; /* Adjust margin if needed */
    }

  }

  .stacked-card-body {
    @media #{$lg} { // Bootstrap breakpoint for lg and above
      padding-inline: 80px; // Apply 80px padding on the left and right
    }
    text-align: left; // Align text to the left inside the card-body
  }


}
