/* Enhanced Fade-In and Zoom-In Keyframes */
@keyframes o_anim_fade_zoom_in {
  0% {
    opacity: 0;
    transform: scale(var(--wanim-zoom-in-scale)); /* Start at 98% scale */
  }
  10% {
    opacity: 0.1;
    transform: scale(0.98);
  }

  40% {
    opacity: 0.4;
    transform: scale(0.98);
  }
  //50% {
  //  opacity: 0.5;
  //  transform: scale(0.98);
  //}
  //60% {
  //  opacity: 0.6;
  //  transform: scale(0.98);
  //}
  70% {
    opacity: 0.7;
    transform: scale(0.98);
  }
  //80% {
  //  opacity: 0.8;
  //  transform: scale(0.98);
  //}
  //90% {
  //  opacity: 0.9;
  //  transform: scale(0.98);
  //}
  100% {
    opacity: 1;
    transform: scale(1); /* End at 100% scale */
  }
}

/* Combined Fade-In and Zoom-In Animation Class */
.o_anim_fade_zoom_in {
  /* Override the zoom-in scale to 0.98 (2% scale down) */
  --wanim-zoom-in-scale: 0.50;

  /* Specify the combined animation name */
  animation-name: o_anim_fade_zoom_in;

  /* Specify duration for the animation */
  animation-duration: 1s;

  /* Specify fill mode for the animation */
  animation-fill-mode: both;

  /* Specify timing function for a smoother effect */
  animation-timing-function: ease-in-out;

  /* Specify delay for the animation */
  animation-delay: 0s;

  /* Ensure the element is visible before animations start */
  visibility: visible;
}

@media (max-width: 768px) {
   .disable-animation-mobile {
    animation: none !important; /* Disable all animations */
    transition: none !important; /* Disable transitions */
    opacity: 1 !important; /* Ensure full opacity */
    transform: none !important; /* Reset scaling */
    visibility: visible !important; /* Ensure visibility */
  }
}


@keyframes anim_float {
  0% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    //box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.anim_float {

  /* Specify the combined animation name */
  animation-name: anim_float;

  /* Specify duration for the animation */
  animation-duration: 10s;

  /* Specify fill mode for the animation */
  animation-fill-mode: both;

  /* Specify timing function for a smoother effect */
  animation-timing-function: ease-in-out;

  /* Specify delay for the animation */
  animation-delay: 0s;

  /* Ensure the element is visible before animations start */
  visibility: visible;

  animation-iteration-count: infinite;

}

//background gradiant
.background_container {
  // Set the repeating linear gradient background
  background-size: 300% 300%;
  background-image: repeating-linear-gradient(125deg, #1B162F, #0A0C19 10%, #171632 20%, #0D081D 60%,
          #1D1A37 75%,
          #171632 90%,);

  animation: waveMove 10s ease-in-out infinite;
}

/* Keyframes for the base gradient movement */
@keyframes waveMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

