
.btn {
  //border: none !important;
  outline: none !important;
  border-radius: $border-radius-button;
  //box-shadow: inset 0 0 0 .2rem var(--button-border-color);
  box-shadow: none;
  transition-property: opacity;
  //border: 1px solid var(--button-border-color) !important;


  &.border-0 {
    border: none !important;
  }


  // &-primary {
  //     background-color: $color-red !important;
  //     border-color: $color-red;
  //     padding: 9px 35px;
  //     &:hover {
  //         background-color: darken($color-red, 30%) !important;
  //         border: none;
  //     }
  // }
  // &-secondary {
  //     background-color: $color-grey !important;
  //     &:hover {
  //         background-color: darken($color-red, 30%) !important;
  //         border: none;
  //     }
  // }
  &-primary {
    background-color: $color-primary !important;
    color: $color-grey-97 !important;

    &:hover {
      --button-border-color: #{$color-cobalt-light};
      border: 1px solid var(--button-border-color) !important;
      background-color: $color-cobalt-dark !important; // Slightly darker white for hover
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--button-border-color) !important;
    }
  }

  &-secondary {
    --button-border-color: #{$color-grey-100};
    border-color: var(--button-border-color);
    background-color: $color-grey-97 !important;
    color: $color-grey-15 !important;
    // padding: 9px 35px;
    &:hover {
      border-color: var(--button-border-color);
      background-color: $color-grey-88 !important;
    }

    &:focus {
      border: none;
      box-shadow: 0 0 0 0.2rem var(--button-border-color) !important;
    }
  }

  &-outline-secondary {
    --button-border-color: #{$color-alpha-hawkes-20};
    border-color: var(--button-border-color);
    background-color: $color-alpha-light-15 !important;
    color: $color-grey-100 !important;

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--button-border-color) !important;
    }

    &:hover {
      --button-border-color: #{$color-alpha-hawkes-20};
      border-color: var(--button-border-color);

      background-color: $color-alpha-light-20 !important;
    }
  }

  &-dark { // this one can be changed later
    --button-border-color: #{$color-grey-100};
    background-color: $color-grey-97 !important;
    color: $color-grey-15 !important;
    // padding: 9px 35px;
    &:hover {
      background-color: $color-grey-88 !important;
    }
  }

  &-outline-dark {
    --button-border-color: #{$color-alpha-light-20};
    background-color: $color-alpha-light-10 !important;
    color: $color-grey-97 !important;

    &:before {
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
    }

    &:after {
      box-shadow: inset 0 0 0 .1rem var(--button-border-color);
      transition-property: box-shadow
    }

    &:hover {
      background-color: $color-alpha-light-40 !important; // Slightly darker white for hover
    }
  }


  //&-new {
  //  color: #fff;
  //  float: right;
  //  background-color: $color-primary !important;
  //  border-color: $color-primary;
  //  padding: 9px 35px;
  //  margin-top: 20px;
  //
  //  &:hover {
  //    background-color: darken($color-primary, 30%) !important;
  //    border: none;
  //    color: #fff;
  //  }
  //}
  //
  //&-red {
  //  background-color: $color-primary !important;
  //  border-color: $color-primary;
  //  padding: 1px 5px;
  //
  //  &:hover {
  //    background-color: darken($color-primary, 30%) !important;
  //    border: none;
  //  }
  //}
  //
  //&-white {
  //  background-color: #fff !important;
  //  border-color: #fff;
  //  padding: 1px 5px;
  //
  //  &:hover {
  //    background-color: darken($color-primary, 30%) !important;
  //    border: none;
  //  }
  //}

  &-more {
    color: $color-primary;
    background-color: #fff !important;
    border-color: #fff;
    padding: 9px 35px;
    border-color: $color-grey;
    border: 1px solid !important;
  }
}

.btn-link {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
    text-decoration: none;

  }

  &:focus {
    text-decoration: none;
    box-shadow: none

  }
}

.learn-more-btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $color-link-hover; /* Keep button link color consistent */
  font-weight: bold;
  transition: color 0.3s ease;
}

.arrow-icon {
  font-size: 20px;
  margin-left: 8px;
  transition: transform 0.3s ease;
  text-decoration: none;

}

.learn-more-btn:hover .arrow-icon {
  transform: translateX(5px); /* Move the arrow to the right on hover */
  text-decoration: none;


}
//to overwrite original colors
.btn.oe_search_button.bg-o-color-4 {
  background-color: $color-cobalt !important;


}
.btn.oe_search_button.bg-o-color-3 {
  background-color: $color-cobalt !important;


}

.btn.oe_search_button:hover {
  background-color: $color-cobalt-dark !important;

}

.btn-fill-light, .btn-light {
  color: #FFFFFF;
  background-color: $color-cobalt;
  border-color: $color-cobalt;
}

.btn-fill-light:hover, .btn-light:hover {
  color: #FFFFFF;
  background-color: $color-cobalt-dark;
  border-color: $color-cobalt-dark;
}

/* From Uiverse.io by neerajbaniwal */
.btn-shine {
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
}

@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

/* From Uiverse.io by neerajbaniwal */

