.features_2 {
  .card {
    text-align: center;
    height: 100%;

    .top-card {
      position: relative;
      background: o-color('o-color-1');
      min-height: 100px;
      display: flex;
      align-items: flex-end; /* Align items to the bottom */
      justify-content: flex-start; /* Align items to the start */

      .card-icon {
        font-size: 5rem;
        background: $color-gradiant;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
        margin-right: 10px; /* Adjust the spacing between the icon and the title */
        margin-left: 20px; /* Move the icon further to the left */

      }

      .card-title {
        font-size: $font-size-h3;
        color: $color-whitesmoke;
        margin-bottom: 10px; /* Reset any default margin */
        margin-top: auto; /* Push the title to the bottom */

      }
    }

    .card-body {
      margin-top: 20px;

      .card-title {
        font-size: $font-size-h3;


      }

      .card-text {
        color: $color-grey;
      }
    }
  }
}

