.top-nav {
  list-style-type: none;
}

.header-top {
  color: $color-black;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: $font-size-text;
  font-weight: 300;

  &-wrap {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .info {
    a {
      color: $color-grey;

      &:hover {
        color: $color-black;
        text-decoration: none;
      }
    }
  }

  ul {
    @media screen and (max-width: 768px) {
      padding-left: 0px;
    }
  }

  li {
    cursor: pointer;
    margin-right: 12px;

    a {
      color: $color-black;

      &:hover {
        color: $color-grey;
        text-decoration: none;
      }
    }
  }
}


/* Full-page class for body */
main.full-page {
  margin: 0;
  padding: 0;
  height: 200vh; /* Adjust height for content */
  overflow: auto; /* Ensure main tag can scroll */
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid transparent; /* Add border to differentiate */
  .btn_cta {
    padding-left: 22px;
    padding-right: 22px;
  }
}

/* Change background when not scrolled */
.o_header_standard.o_top_fixed_element {
  .navbar {
    background-color: transparent; /* Change to white when scrolled */
    &:hover {
      background-color: $color-white !important;

      .nav-item .nav-link {
        color: $color-primary !important; // Apply $color-white color to text

      }

      .nav-item.dropdown .nav-link {
        color: $color-primary !important; // Apply $color-white color to text

      }

      .btn_cta {
        background-color: transparent !important;
        color: $color-primary !important;
        border: 2px solid $color-primary !important;
      }
    }

    .btn_cta {
      background-color: transparent !important;
      color: $color-white !important;
      border: 2px solid $color-white !important;

    }
  }

  .nav-item .nav-link {
    color: $color-white !important; // Apply $color-white color to text

  }

  .nav-item.dropdown .nav-link {
    color: $color-white !important; // Apply $color-white color to text

  }

}

/* Change background when scrolled */
/* SCSS Code */
.o_header_standard.o_header_affixed {
  .navbar {
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    .btn_cta {
      background-color: $color-white !important;
      color: $color-primary !important;
      border: 2px solid $color-primary !important;
    }
  }

  .nav-item .nav-link {
    color: $color-primary !important; // Apply primary color to text

  }

  .nav-item.dropdown .nav-link {
    color: $color-primary !important; // Apply primary color to text

  }
}


.navbar-nav {
  font-weight: 500;
  text-transform: uppercase;
  color: $color-black !important;
  height: 70px; // Fixed height for the navbar
  display: flex;
  align-items: center; // Vertically centers the items within the navbar

}

.navbar-brand img {
  width: 100%;
  max-width: 100px;
}

.icons-nav {
  &.right {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  ul {
    display: flex;
    list-style: none;
  }
}

.icons-nav img {
  width: 100%;
  max-width: 24px;
}

.nav-item .nav-link {
  text-decoration: none;
  position: relative; // Necessary for ::after to be positioned relative to this element
  display: inline-block; // Ensure it only takes up the necessary space
  padding: 0; // Remove all padding

  &::after {
    content: "";
    position: absolute;
    bottom: -2px; // Position the underline just below the text
    left: 0;
    width: 0; // Start with no width
    height: 2px; // Set the height of the underline
    background-color: $color-thirdly; // Set the underline color to the third color
    transition: width 0.3s ease-in-out; // Smooth transition for the width
    box-shadow: none; // Remove any shadow
    text-shadow: none; // Remove any text shadow
    border: none; // Remove any border
    outline: none; // Remove any outline
  }

  &:hover::after {
    width: 100%; // Expand the underline to the full width on hover
  }
}

.nav-item.dropdown .nav-link {
  position: relative; // Necessary for ::after to be positioned relative to this element
  display: inline-block; // Ensure it only takes up the necessary space
  &::after {
    content: "";
    position: absolute;
    bottom: -2px; // Position the underline just below the text
    left: 0;
    width: 0; // Start with no width
    height: 2px; // Set the height of the underline
    background-color: $color-thirdly; // Set the underline color to the third color
    transition: width 0.3s ease-in-out; // Smooth transition for the width
    box-shadow: none; // Remove any shadow
    text-shadow: none; // Remove any text shadow
    border: none; // Remove any border
    outline: none; // Remove any outline
  }

  &:hover::after {
    width: 100%; // Expand the underline to the full width on hover
  }
}


.dropdown-menu.o_mega_menu {
  top: 100% !important; // Fixed value, adjust as per the actual header height
  width: 100%; // Ensure it covers the full width of the container
  position: absolute; // Ensure it is positioned relative to the containing element
  left: 0; // Align to the left edge of the container
  z-index: 1000; // Ensure it is above other content
  background-color: $color-white; // Background color
  transition: opacity 0.3s ease, transform 0.3s ease; // Smooth transition for opening
}


