.top-nav {
  list-style-type: none;
}

.header-top {
  color: $color-black;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: $font-size-text;
  font-weight: 300;

  &-wrap {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .info {
    a {
      color: $color-grey;

      &:hover {
        color: $color-black;
        text-decoration: none;
      }
    }
  }

  ul {
    @media screen and (max-width: 768px) {
      padding-left: 0px;
    }
  }

  li {
    cursor: pointer;
    margin-right: 12px;

    a {
      color: $color-black;

      &:hover {
        color: $color-grey;
        text-decoration: none;
      }
    }
  }
}


/* Full-page class for body */
main.full-page {
  margin: 0;
  padding: 0;
  height: 200vh; /* Adjust height for content */
  overflow: auto; /* Ensure main tag can scroll */
}

/* Main Navbar styles */
.navbar-expand-lg {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid transparent; /* Add border to differentiate */

  .btn {
    padding-left: 22px;
    padding-right: 22px;
  }


  /* Change background when not scrolled */
  &.d-none.d-lg-block.shadow-sm {
    background-color: transparent; // Initial background

    .nav-link {
      color: $color-primary !important;
    }

    .btn {
      border: 2px solid $color-primary !important;
      color: $color-primary !important;
      background-color: transparent !important;
    }

    // Conditional styles for specific URLs
    // Apply styles to pages with URLs containing  "/contactus" or the exact home page URL "/"
    [data-page-url*="/contactus"] &, [data-page-url="/"] & {
      .btn {
        background-color: transparent !important;
        color: $color-white !important;
        border: 2px solid $color-white !important;
      }

      .nav-link {
        color: $color-white !important; // Apply $color-white color to text
      }
    }

    &:hover {
      background-color: $color-white !important;

      .btn {
        background-color: transparent !important;
        color: $color-primary !important;
        border: 2px solid $color-primary !important;
      }

      .nav-link {
        color: $color-primary !important; // Apply $color-primary color to text
      }


    }


  }

  .nav.navbar-nav {
    font-weight: 500;
    text-transform: uppercase;
    color: $color-black !important;
    height: 70px; // Fixed height for the navbar
    display: flex;
    align-items: center; // Vertically centers the items within the navbar
    margin-right: 0 !important;
  }


  .navbar-brand .img {
    width: 100%;
    max-width: 100px;
  }

  .icons-nav {
    &.right {
      @media screen and (max-width: 992px) {
        display: none !important;
      }
    }

    ul {
      display: flex;
      list-style: none;
    }

    img {
      width: 100%;
      max-width: 24px;
    }
  }

  .nav-item .nav-link {
    text-decoration: none;
    position: relative; // Necessary for ::after to be positioned relative to this element
    display: inline-block; // Ensure it only takes up the necessary space
    //padding: 0; // Remove all padding

    &::after {
      content: "";
      position: absolute;
      bottom: -2px; // Position the underline just below the text
      left: 0;
      width: 0; // Start with no width
      height: 2px; // Set the height of the underline
      background-color: $color-thirdly; // Set the underline color to the third color
      transition: width 0.3s ease-in-out; // Smooth transition for the width
      box-shadow: none; // Remove any shadow
      text-shadow: none; // Remove any text shadow
      border: none; // Remove any border
      outline: none; // Remove any outline
    }

    &:hover::after {
      width: 100%; // Expand the underline to the full width on hover
    }
  }

  .nav-item.dropdown .nav-link {
    position: relative; // Necessary for ::after to be positioned relative to this element
    display: inline-block; // Ensure it only takes up the necessary space
    &::after {
      content: "";
      position: absolute;
      bottom: -2px; // Position the underline just below the text
      left: 0;
      width: 0; // Start with no width
      height: 2px; // Set the height of the underline
      background-color: $color-thirdly; // Set the underline color to the third color
      transition: width 0.3s ease-in-out; // Smooth transition for the width
      box-shadow: none; // Remove any shadow
      text-shadow: none; // Remove any text shadow
      border: none; // Remove any border
      outline: none; // Remove any outline
    }

    &:hover::after {
      width: 100%; // Expand the underline to the full width on hover
    }
  }


}

/* Change background Navbar when scrolled */
//.o_header_standard.o_hoverable_dropdown.o_header_affixed,
//.o_header_standard.o_hoverable_dropdown.o_header_affixed.o_header_is_scrolled.o_top_fixed_element {


.o_header_fixed.o_top_fixed_element.o_header_is_scrolled.o_header_affixed {
  background-color: $color-white !important; // Change background to white
  border-bottom: 1px solid #ccc; // Add a bottom border

  .navbar-expand-lg {
    background-color: $color-white !important; // Change background to white
    border-bottom: 1px solid #ccc; // Add a bottom border
    .btn {
      background-color: $color-white !important;
      color: $color-primary !important;
      border: 2px solid $color-primary !important;
    }

    .nav-link {
      color: $color-primary !important; // Apply $color-primary color to text
    }
  }
}

/* Mobile Navbar styles */
.o_header_mobile.navbar {
  background-color: $color-primary; // Set your desired color for the mobile navbar
  .btn {
    background-color: $color-white !important;
    color: $color-primary !important;
    border: 2px solid $color-primary !important;
  }

  .nav-link.btn {
    background-color: $color-white; //hamburger buton color
  }
}

@media (max-width: 992px) {
  .nav-item {
    border-bottom: 1px solid $color-grey; /* Add border-border to all nav-item */
  }
  .nav-item:first-child {
    border-top: 1px solid $color-grey; /* Add border-top to the first nav-item */
  }

}

@media (min-width: 1440px) {
  .nav.navbar-nav {
    margin-left: calc(100vw - 1440px) !important;
  }
}


#o_main_nav.container {
  margin-left: 0 !important;
  margin-right: 0 !important;

}


