#footer .card-footer {
  border: 0;
  width: 100%;
  //background-color: $color-footer !important;
  position: relative;
  background: url('/theme_darko//static/src/img/illustrator/shape_14_001.svg') no-repeat center center;
  background-size: cover;
  padding: 30px 0;
  z-index: 0;

  .footer_content {
    position: relative;
      z-index: 1; /* Ensures text is above the SVG background */

    margin-top: 3rem;
    margin-bottom: 3.5rem;
    text-align-last: left;

    .footer_items {
      margin-top: 1rem;
      text-align: left;
      padding-left: 0px;

    }

    .footer_items a {
      color: $color-link;
      text-decoration: none;

      &:hover {
        color: $color-link-hover;
        text-decoration: none;
      }
    }

    .footer_items li {
      margin-bottom: 8px;
      font-size: $font-size-text;
    }

    .footer_items .material-icons {

      font-size: inherit !important;
    }



    .footer_heading {
      margin-top: 8px;
      margin-bottom: 8px;
      color: $color_whitesmoke !important;
      font-size: $font-size-text

    }

    .social_media {
      ul {
        display: flex;
        padding-left: 0px;

        li {
          background-color: $color-link;
          margin-right: 10px;
          border-radius: 3px;

          a {
            margin: 7px
          }

          &:hover {
            background-color: lighten($color-link-hover, 30%) !important;
            border: none;
          }
        }
      }

      img {
        width: 15px

      }
    }




  }

  .logo-footer {
    max-width: 50%;
    height: auto
  }

  .copy_right {
    text-align: center;

    a {
      color: $color-link;

      &:hover {
        color: $color-link-hover;
        text-decoration: none;
      }
    }

    .text-muted {
      color: #6c757d !important;
    }
  }

  .btn {
    border: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    //
    //&-red {
    //  font-size: 12px;
    //  color: #fff;
    //  background-color: $color-red !important;
    //  border-color: $color-red;
    //  padding: 1px 5px;
    //
    //  &:hover {
    //    background-color: darken($color-red, 30%) !important;
    //    border: none;
    //  }
    //
    //  img {
    //    width: 20px;
    //  }
    //
    //  .a_head {
    //    margin-bottom: 0;
    //  }
    //}
    //
    //&-white {
    //  margin-right: 10px;
    //  font-size: 12px;
    //  background-color: #fff !important;
    //  border-color: #fff;
    //  padding: 1px 5px;
    //
    //  &:hover {
    //    background-color: darken($color-red, 30%) !important;
    //    border: none;
    //  }
    //
    //  img {
    //    width: 20px;
    //  }
    //
    //}
    //
    //.a_head {
    //  display: flex;
    //  flex-direction: column;
    //  margin-left: 5px;
    //  margin-bottom: 0;
    //}
  }

  .backdrop {
    position: absolute;
    z-index: var(--z-index-neg);
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: saturate(150%) blur(100px);
    background: var(--color-alpha-dark-80);
    mask-image: var(--top-mask-md);
  }

  .white_b, .red_b {
    width: auto;
  }
}
