.mega-menu {
  background: $nav-gradient-when-unblurred; /* Ensure this is a valid gradient */
  backdrop-filter: $nav-filter; /* Apply blur filter */
  color: $nav-text-color;
  padding: 0 20px;
  overflow-y: hidden;
  top: 100%;
  //top: 23px;

  .solutions-column {
    min-width: 300px;
    font-family: $font-default;
  }

  .menu-description {
    display: block;
    width: 100%;
    min-width: 300px;
    font-family: $font-default;
    font-size: $font-size-h4;
    color: $nav-text-color;
    padding-right: 1rem;
    padding-left: 0;

    a {
      text-decoration: none; /* No underline for the link */
      color: inherit; /* Inherit color from parent */

      &:hover {
        text-decoration: none; /* No underline on hover */
      }
    }
  }

  h2 {
    color: $nav-text-color !important;
    font-size: $font-size-h2;
    font-family: $font-default;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  p {
    color: $nav-text-color;
    font-size: $font-size-h4;
    text-transform: none;
    font-family: $font-default;
  }

  .link-with-image {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $nav-text-color !important;
    position: relative;
    padding-left: 1rem;

    font-size: $font-size-h4;
    font-family: $font-default;

    .link-text {
      text-decoration: none;
      position: relative;
      color: $nav-text-color !important;
      font-family: $font-default;
    }

    .link-text:hover {
      color: $color-whitesmoke !important;
    }

    .link-text::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-accent;
      transition: width 0.3s ease-in-out;
    }

    .link-text:hover::after {
      width: 100%;
    }

  }

  .link-image {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .border-bottom {
    border-bottom: 1px solid $color-black;
  }
}

.dropdown-menu {
  border-bottom: 2px solid $border-color; /* Add border to differentiate */

}

/* Add styles for the link */

.see_all_link {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  display: flex; /* Use Flexbox to align items within the link */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center the link horizontally */
  position: relative; /* Position relative to add the arrow with ::after */
  text-decoration: none; /* Remove underline */
  width: 100%; /* Make the link take full width of the container */
  text-align: center; /* Ensure text within the link is centered */
  cursor: pointer; /* Change cursor to pointer on hover */

  /* Ensure the link itself does not get an underline */
  &::after {
    content: "➔"; /* Changed to heavy right arrow */
    font-size: 1.5rem; /* Adjust size as necessary */
    margin-left: 8px; /* Space between text and arrow */
    color: $color-accent; /* Arrow color */
    text-decoration: none !important; /* No underline on the arrow */
    display: inline-block; /* Display inline-block for better control */
    vertical-align: middle; /* Vertically align with text */
  }

  &:hover::after {
    color: darken($color-accent, 10%); /* Darken arrow on hover */
    transition: color 0.3s ease; /* Smooth transition */
  }


}

a.see_all_link {
  text-decoration: none; /* Ensure no underline on the anchor tag */
  color: inherit; /* Inherit color from parent */
}

/* Ensure the link text has an underline on hover */
.see_all_link-text {
  display: inline-block; /* Ensure it takes only the necessary space */
  color: $color-accent; /* Set text color */
  text-align: center; /* Center the text horizontally */
  text-decoration: none !important; /* Remove underline initially */
  position: relative; /* Needed for the pseudo-element */

  /* Add underline with transition */
  &::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Position underline just below the text */
    left: 0;
    width: 0; /* Start with no width */
    height: 2px; /* Set the height of the underline */
    background-color: $color-accent; /* Underline color */
    transition: width 0.3s ease-in-out; /* Smooth transition for the width */
    text-decoration: none !important; /* Ensure underline doesn't affect the arrow */
  }

  &:hover::after {
    width: 100%; /* Expand underline to full width on hover */

  }
}


a.see_all_link:hover {
  text-decoration: none; /* Ensure no underline on hover */
}

.full-width-separator {
  width: 100%;
  height: 2px; /* You can adjust the height as needed */
  background-color: $color-border;
  border: 0;
}

.mega-menu .container-fluid {
  width: 80%;
  padding: 0;

}

// Media Query for 1024px width
@media (max-width: 1024px) {


  .mega-menu .row {
    margin: 0;
  }

  .mega-menu .col-lg-3 {
    display: none;
  }

  .mega-menu .col-lg-9,
  .mega-menu .col-lg-4,
  .mega-menu .col-md-6,
  .mega-menu .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .mega-menu .solutions-column,
  .mega-menu .link-with-image {
    width: 100%;
    margin-bottom: 15px;
  }
  .dropdown-menu.o_mega_menu.show {
    border-bottom: 0;
    overflow: hidden;


    .menu-content {
      padding-top: 0 !important;
      padding-bottom: 0 !important;

    }

    .see_all_link {
      justify-content: left; /* Left the link horizontally */
      padding-top: 8px;
      padding-bottom: 8px;

    }

  }
}


