//font
//$font-default: "Roboto", sans-serif;
$font-default: "Poppins", sans-serif;
$font-offer: "Kaushan Script", cursive;

//colors
$color-red: #ff5254;
$color-pink: #fab4bf;
$color-black: #000000;
$color-grey: #858585;
$color-offwhite: #e6e4e4d1;
$color-footer: #081c21;
$color-banner_product: #0b393edb;
$color-border: #cfcdcd;
$color-bg-heading: #e6e4e4d1;
$color-white: #fff;
$color-whitesmoke: #f5f5f5;
//
$color-primary: #02303d;
$color-secondary: #ceefe6;
$color-thirdly: #00855f;

//fon-size
// $font-size-h1: 36px;
// $font-size-h4:18px;
// $font-size-subheading:25px;
// $font-size-text: 14px;
// $font-size-s:15px;
// $font-size-banner:53px;
// $font-size-form:12px;
// $font-bold:18px;
$font-size-h1: 36px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-subheading: 20px;
$font-size-text: 14px;
$font-size-s: 12px;
$font-size-banner: 53px;
$font-size-form: 14px;
$font-bold: 18px;

// $o-theme-font-configs: (
//     'Roboto': (
//         'family': ('Roboto', sans-serif),
//         'url': 'Roboto:300,300i,400,400i,500,500i,700,700i',
//     ),
// );

// $o-website-values-palettes: (
//     (
//         // Fonts
//         'font': 'Roboto',
//         'headings-font': 'Roboto',
//         'navbar-font': 'Roboto',
//         'buttons-font': 'Roboto',
//     ),
// );
