$o-color-palettes: map-merge($o-color-palettes,
        (
                'airproof': (
                        'o-color-1': #02303d,
                        'o-color-2': #ceefe6,
                        'o-color-3': #f2f2f2,
                        'o-color-4': #ffffff,
                        'o-color-5': #000000,
                        'o-color-6': #fd9a0b,
                        'o-color-7': #00855F,
                ),
        )
);
$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'airproof');
$o-website-values-palettes: (
        (
                'color-palettes-name': 'airproof',
        ),
);


$o-theme-font-configs: (
        'Poppins': (
                'family': ('Poppins', sans-serif),
                'url': 'Poppins:400,500',
                'properties' : (
                        'base': (
                                'font-size-base': 1rem,
                        ),
                ),
        ),
        'Permanent Marker': (
                'family': ('Permanent Marker', cursive),
                'url': 'Permanent Marker:400',
                'properties' : (
                        'base': (
                                'font-size-base': 1rem,
                        ),
                ),
        ),
);

.o-text-h1 {
  font-size: var(--o-font-size-h1);
}

.o-text-h2 {
  font-size: var(--o-font-size-h2);
}

.o-text-h3 {
  font-size: var(--o-font-size-h3);
}

.o-text-h4 {
  font-size: var(--o-font-size-h4);
}

.o-text-subheading {
  font-size: var(--o-font-size-subheading);
}

.o-text-text {
  font-size: var(--o-font-size-text);
}

.o-text-s {
  font-size: var(--o-font-size-s);
}

.o-text-banner {
  font-size: var(--o-font-size-banner);
}

.o-text-form {
  font-size: var(--o-font-size-form);
}

.o-text-bold {
  font-size: var(--o-font-size-bold);
  font-weight: bold; /* Make it bold as well */
}
